p {
    font-family: EstrangeloAntioch;
    font-size: 2em;
}

@font-face {
    font-family: 'EstrangeloAntioch';
    src: local('Estrangelo Antioch');
    src: url('syrcomantioch.eot');
    src: url('syrcomantioch.eot?#iefix') format('embedded-opentype'), url('syrcomantioch.woff') format('woff'), url('/fonts/syrcomantioch.ttf') format('truetype'), url('/fonts/syrcomantioch.svg#syrcomantioch') format('svg');
    font-weight: normal;
    font-style: normal;
}
